$primary-color: #99dee8;
$secondary-color: #7fbee2;
$tertiary-color: #a893f2;
$highlight-color: #ac09bb;
$background-color: #d6e7ff;
$font-color: #241e4e;

$days: Monday Tuesday Wednesday Thursday Friday Saturday Sunday;
$calendar-priorities: first second third fourth fifth sixth;